[2019-07-03 05:11] reinoldus opened #76 "Adding custom CSS to the REST-API"
Hello,
I am using wordpress as a headless CMS. This issue is that UAGB renders custom css on the post-page, which is not included in the WP-REST-API call.

Would it be possible to add this as well?

[2019-07-24 10:34] bobbingwide opened #88 "Notice displaying Social Share block"
Problem occurs because no background colour has been defined for the icons.

[code]

See https://blocks.wp-a2z.org/block/social-share-uagb-social-share/

I raised this as a support ticket just a few moments ago. Then I matched bsf.io to brainstormforce, put two and two together and answered part of the ticket myself.

Note: Problem no longer occurs on the above URL as I have applied the fix below.

[2019-07-24 10:57] bobbingwide commented on #88
Adding a couple of lines to `classes/class-uagb-block-helper.php` resolves the issue. Around line 1705
[code]

[2019-07-25 09:18] bobbingwide commented on #88
I've created PR #89

[2019-07-26 06:57] PDowney opened #90 "Possible serious issue with icon list block"
I discovered a reproducible memory issue in the icons list block. Thus far, I was only able to achieve the issue when combining it with the woocommerce memberships plugin from woocommerce.com.

I created an icon list with 10 icons and lots of customization. When creating a post that includes the icon list block that is within a category protected by the woocommerce memberships plugin (meaning that

[2019-08-06 18:01] #90 closed

[2019-09-03 08:10] voneff opened #95 "Responsive controls on image width, stacking order and spacing (e.g. in the Info Box block)"
Hi there,

as of now I can only specify a single fixed width for `.uagb-ifb-image-content` in the editor.
This results in an overflow of the image whenever screen width goes below that width.

Please add controls for different screen sizes and/or make sure that `max-width` is not identical to the width set in the editor but set to 100% of the container or something like that.

Also, it would be gr

[2019-09-03 10:13] roadsunknown opened #96 "Cannot Enter Decimal Values for Font Sizes in EM"
**Steps to Reproduce:**
1. Add Advanced Heading block to Page
2. Go to Advanced Heading > Heading > Typography > Font Size
3. Select em (px is default)
4. Enter decimal value, e.g. 3.5

_Actual Result:_
1. Displays tooltip, e.g. "Please enter a valid value. The two nearest values are 3 and 4."
2. Auto adjusts value to lower value, e.g. 3.

_Expected Result:_
When em is selected, decimal values sho

[2019-09-04 02:49] roadsunknown opened #97 "Post Grid - Read More Link No Button Hover"
When the Read More Link is enabled on Post Grid block, the hover button border style is not applied.

**Steps to Reproduce:**
1. Add Post Grid Block to page
2. Enable Read More Link
3. Configure Button Border, e.g. Solid, 2px
4. Configure Button Colors > Normal and Hover (select two different contrasting colors)

_Actual Result:_
Hover border styles are not rendered, output same as Normal border.

[2019-09-04 03:09] roadsunknown opened #98 "Post Grid - Read More Link Invalid Font Family: Default"
**Steps to Reproduce:**
1. Add Post Grid Block to page
2. Configure Read More Link
3. Confirm Typography > Font Family is set to Default

_Actual Result:_
Style renders `font-family: Default` which is invalid CSS.

`#uagb-post__grid-{guid} .uagb-post__text .uagb-post__cta a {`
~~`font-family: Default;`~~
`}`

_Expected Result:_
No font-family style is rendered, thereby inheriting default (global)

[2019-09-10 06:51] roadsunknown opened #99 "Post Grid - Content > Show Category"
Feature request to add a _Show Category_ option under the Content configuration of the Post Grid block. Currently you can Show Author, Show Date, Show Comment and Show Excerpt but you cannot Show Category - a commonly displayed field in Posts.

[2019-09-16 03:58] vrundakansara commented on #88
This has been merged and will be released in the upcoming version.

[2019-09-16 03:58] #88 closed

[2019-09-16 04:52] vrundakansara commented on #96
Hey @roadsunknown

Thank you for reporting this. We have fixed this #100

[2019-09-16 04:52] #96 closed

[2019-09-16 05:06] vrundakansara commented on #97
Hey @roadsunknown ,

This is been fixed and will be released very soon - #101

[2019-09-16 05:06] #97 closed

[2019-09-16 05:40] vrundakansara commented on #98
Hey @roadsunknown ,
Thank you for reporting this to us.
This is been fixed here - #102

[2019-09-16 05:40] #98 closed

[2019-09-18 08:31] vrundakansara commented on #99
Hey @roadsunknown ,

This feature is being added. #104

[2019-09-18 08:31] #99 closed

[2019-09-19 23:04] hughc opened #106 "generate css / js includes for a given block, on the fly"
The plugin is at least taking the standards compliant path and loading its required styles and assets into the `<head>` of the document, which is great if you assume every rendering of a set of blocks is tied to a page load.

I want to extend my use of Gutenberg to include rendering of block content on the fly, where I want it in my template. If all posts of a given CPT have the same block-built f

[2019-10-09 04:57] vrundakansara commented on #76
Hey @reinoldus ,

WordPress saves the blocks in the form of a parsed data into the post_content field for the posts.

The parsed content is not directly accessible in API. The unparsed text is accessible on index `content.rendered`. One needs to add the original content using REST API functions.

The below function should help you. Add the code in your functions.php file.

[code]
This will add the

[2019-10-09 04:57] #76 closed

[2019-10-15 21:07] baohouse opened #116 "Support square/circle image cropping in Testimonials"
If you switch the image style for images within Testimonials block to either square or circle on a rectangular image, the resulting image will not have a 1:1 dimension ratio.

Will probably need to use [object-fit CSS](https://css-tricks.com/almanac/properties/o/object-fit/) trick, presuming that people want to allow centered-cropped images when they specify square/circle mode.

[2019-10-17 12:03] martinosmartinos opened #119 "Posts carousel with CPT"
Good day!
I am trying to display custom post types in post carousel block but it looks like UAG is not seeing registered custom post types and offers only option to choose either from normal posts, pages or media files. Am I missing something?

[2019-10-17 12:52] martinosmartinos commented on #119
I am going to answer my own question as it might help someone facing same issue. After digging into plugin's code I discovered post carousel is fetching only objects which are 'rest' enabled so after adding 'show_in_rest' => true to my custom post type registration I can see it in a dropdown of available options. I am not sure though why custom post type should be exposed in rest API.

[2019-10-18 03:54] vrundakansara commented on #119
Hey @martinosmartinos ,

Good day!
Yes, you are absolutely correct, `show_in_rest` should be set to `true`.
This is how it works for Gutenberg.

In case you don't want to expose your CPT to REST API, you can try working with UAG Post Filters. This filter will work on the frontend only.
You can paste the filter code in your functions.php file. The filter is as shown below.

[code]

I hope that help

[2019-10-18 03:55] #119 closed

[2019-10-18 11:43] vrundakansara commented on #116
Hey @baohouse ,

Thank you for the suggestion. I will try this solution.

[2019-10-22 15:50] jp-io opened #120 "Add option to hide front page in grid post"
When using post grid on the front page to display all other pages, it would be helpful to exempt the front page from the listed pages. Couldn't find a simple work around...

[2019-10-22 21:41] MrAlexWeber opened #121 "Icon List blocks image width is overridden by flex-shrink"
Hi, great plugin. I noticed an issue when trying to use custom images in an icon-list on a small screen. Basically if the image is set to have a fixed width (e.g. 40px) plus spacing to the right, the image will actually shrink to fit the size of the text and ignore the fixed image width.

Through troubleshooting this issue, it seems that setting `flex-shrink: 0;` on the `.uagb-icon-list__source-wr

[2019-10-23 09:14] vrundakansara commented on #120
Hey @jp-io ,

Thank you for reaching us out.
You can try working with UAG Post Filters. This filter will work on the frontend.
You can paste the filter code in your functions.php file. The filter is as shown below.

[code]
This will exclude the current post from the query.
I hope that helps.

Regards,
Vrunda Kansara

[2019-10-23 09:14] #120 closed

[2019-10-31 04:28] tasnimAlam opened #123 "Table of Content crashes after adding new header"
![table_of_content](https://user-images.githubusercontent.com/22883823/67919088-1d4b8e80-fbc9-11e9-8ba3-cf56332a0017.gif)

[2019-11-01 09:39] protorob opened #124 "When there's only one block in an Advanced Column the "move block" handles are missing"
When rearranging blocks inside Advanced Columns, if the case is that there's only one block in the column, the handles for moving the block are not displayed:

https://imgur.com/gallery/yTQ6MYd

[2019-11-01 09:52] vrundakansara commented on #124
Hey @protorob ,

This moving feature is a Gutenberg feature. They have fixed it in v5.3. Thank you for bringing this to us.

[2019-11-01 09:52] #124 closed

[2019-11-01 09:56] vrundakansara commented on #123
Hey @tasnimAlam ,

Thank you for bringing this to us.
Are you using WordPress Beta version? This works for the stable WP version - v5.2.4
This issue is fixed for WordPress v5.3 beta. We will release an update very soon.

Regards,
Vrunda Kansara

[2019-11-01 09:56] #123 closed

[2019-11-27 11:00] lonix1 opened #133 "Markup refers to incorrect stylesheets"
Every once in a while the plugin generates a new css file (in the `uag-plugins` directory), but my pages still refer to the old css files, and so don't load.

I thought it was a caching issue, but it's not. I cleared server caching and client caches.

The markup is being generated with references to the incorrect uag stylesheet.

[2019-11-29 09:33] vrundakansara commented on #133
Thank you @lonix1 for reporting this to us. It seems that you also have added tickets with dummy email IDs. Can you raise a ticket with a valid email ID so that we can communicate?

I can't see the issue at my end.

[2019-11-29 10:32] vrundakansara opened #134 "Post - Custom Template from Theme"
One must be able to add a custom template for Post blocks from the theme.

[2019-11-29 12:29] lonix1 commented on #133
I don't know what you mean - it's not a dummy issue 🤔

I don't know how to go through the steps to force the error. If I discover that I will report here. Or maybe someone else will advise if they have the same problem.

[2019-12-05 20:59] LukaszJaro opened #136 "Table of contents block - handling duplicate IDs"
Hi,

Right now I see a serial number is appended to the ID, is it feasible to only append a number if there is conflicting duplicate ID? Just like WordPress handles the post slug using wp_unique_post_slug?

Also like WP, append the number at the end like so: "heading-2"

[2019-12-06 09:21] vrundakansara commented on #136
Hey @LukaszJaro ,

These are the Anchor Ids, which are expected to be added by the user since they will be visible in the URL bar in the browser.

But we didn't want to increase user's efforts so we autogenerate them. You can always edit them as per your needs. They will be reflected accordingly in the Table of Contents block.

Regards,
Vrunda Kansara

[2019-12-06 09:21] #136 closed

[2019-12-11 10:56] vrundakansara commented on #133
@lonix1 - That is not what I meant. Can you please raise a support request here - https://www.ultimategutenberg.com/support/

I don't see this issue at my end. I need more debugging to be done at your end. Looking forward to resolving your issue ASAP.

Regards,
Vrunda Kansara

[2019-12-12 06:02] lonix1 commented on #133
Hi please don't worry about it, I've gone in a different direction. Thanks! 😃

[2019-12-12 06:02] #133 closed

[2019-12-20 05:27] vrundakansara opened #143 "Timeline - Add feature to change date format and allow normal string too."
Allow date formats like  “c.1889” for the date, i.e. “circa 1889”, “about 1889”.

[2019-12-21 08:11] vrundakansara opened #144 "Icon List - When links are not linked they should not use anchor tag"

[2019-12-23 09:10] vrundakansara opened #145 "Social Share - Reusable block"
Social Share - Reusable block used twice on the same page. One of them doesn't work.

[2019-12-24 04:41] vrundakansara opened #146 "Allow decimal values for Spacing and Margin."

[2019-12-26 07:44] vrundakansara commented on #144
Fixed #147

[2019-12-26 07:44] #144 closed

[2019-12-26 07:52] vrundakansara commented on #143
Added date format option. This will allow such a case scenario. #148

[2019-12-26 07:52] #143 closed

[2019-12-26 08:44] vrundakansara commented on #145
Fixed #149

[2019-12-26 08:44] #145 closed

[2020-01-10 01:32] Veltro opened #153 "Advanced Columns not showing correctly in Editor anymore"
The advanced columns began to appear one below the other in the Wordpress Editor and not the correct way that one column is next to each other as of 2 days ago.

Please fix this soon as it is very difficult to maintain the site with this bug.
Thanks.

[2020-01-15 05:24] jamiemarsland commented on #153
We see this too. To clarify it only happens when the Gutenberg 7.2.0 plugin is installed.

[2020-01-16 02:58] Veltro commented on #153
Can I downgrade the Gutenberg to the previous version then until they fix it? Cause I really need this plugin.

[2020-01-20 17:15] Veltro commented on #153
Just sent the ticket, thanks.

[2020-01-22 10:03] MikaHamalainen commented on #143
I don't see how to use string in version 1.14.6.

If I18n is used finnish speaking people would need `M d Y` if we use `d M Y` which is closest thing we can select now, I18n will add extra 'n' (genitive) after month, which doesn't make sense in current word order.

[2020-02-06 15:16] nicholasurban commented on #153
I see the same thing. Unfortunate.

[2020-02-11 19:01] Veltro commented on #153
Any fix? 1 month since the problem was reported, I've sent the ticket as request and not a single response or fix.

[2020-02-12 16:35] joeljv91 opened #155 "Table of contents not working if page contains a paragraph with html attributes inside"
Hi,

I'm testing table of content on my website and I found this error. When I tested the table of content with a normal page with headings,paragraph, images etc... works fine but if I insert a shortcode that generates a resultant HTML code inside a paragraph block it shows this error:

table-of-contents.js?ver=1.14.6:115 Uncaught TypeError: $headers.forEach is not a function
    at Object._run (t

[2020-02-13 04:33] vrundakansara commented on #153
@Veltro Do you mind sharing the ticket ID with us?
Anyway, this has already been fixed in this PR here - #156

[2020-02-13 18:44] Veltro commented on #153
Thanks for answering @vrundakansara but it's not fixed yet.
I am using the latest versions of both Gutenberg(7.5) and Ultimate addons(1.14.6).
I can only use Advanced columns rolling back Gutenberg to 7.1, if not my editor is screwed-up like this:
![image](https://user-images.githubusercontent.com/7377006/74467206-632a1b00-4e77-11ea-9b62-22f14a228e73.png)

Look at the diference using Gutenberg 7.1

[2020-02-14 11:44] vrundakansara commented on #153
@Veltro - Yes, the shown issue will be fixed once we release the update.
You can reach us out [here](https://www.ultimategutenberg.com/support/) is you need a development version for the fix.

[2020-03-04 12:35] mikeweltevrede opened #159 "Post Carousel shows most recent posts in all languages"
I am using Polylang to maintain a website that is available in Dutch and English. However, if I use the Post Carousel, it shows me the articles in both Dutch and English while I only want to see the posts of the corresponding website (a static Homepage assigned to this language). I have currently found a workaround where I simply create a Category for the language and edit the Post Carousel settin

[2020-03-05 04:24] vrundakansara commented on #159
Hey @mikeweltevrede ,
Ultimate Addon for Gutenberg works without any issues with the Polylang plugin.

Both languages' posts are visible to you in the backend for Post Carousel.
But when you actually publish the page and see the Post Carousel in the front end, you will see the respective language posts only.

This is because Polylang hooks into the WP Query only in the frontend.
If still, you face

[2020-03-05 04:24] #159 closed

[2020-03-05 04:26] vrundakansara commented on #153
Fixed - #157

[2020-03-05 04:26] #153 closed

[2020-03-05 11:02] SuryawanshiPrajakta opened #160 "UAG Settings page - CSS File Generation block not getting translated"
Please check the screenshot - https://share.getcloudapp.com/E0uq9qyN

[2020-03-16 15:23] thomasdebruin opened #162 "Advanced Columns -> default padding"
When adding Advanced Columns, the default padding (per column) seems very high/large in the editor. The content space is very narrow. On the frontend it looks good, works as expected. Is there any option to change/fix this? Or set a default value through a hook?

[2020-03-18 11:54] gralance opened #163 "Failed to pass AMP check due to the CSS size too large"
The classname is too verbose, e.g.

`uagb-block-401730bd-a564-458d-85ea-313bfe1a91e3`

Looking for a short naming style:
`ub401730bd`

or does there is an option to make all CSS inline?

[2020-03-19 02:45] vrundakansara commented on #163
@gralance - Ultimate Addons for Gutenberg does not support AMP yet. Also, a shorter class name is not possible yet.

I will try to find a solution to it. I appreciate your efforts.

[2020-03-19 18:04] stacyk opened #164 "Need ability to rely on theme's font-size and color for type elements"
When I edit a block, for instance, post grid, I am trying to use my themes heading, link, text colors. When I try to "clear" these settings from adding inline style, it will try to use color: inherit in the editor until you publish/update and refresh. After you refresh, it automatically assigns a color that I didn't choose and declare it in the CSS with that overly specific classname which is hard

[2020-03-21 16:28] #163 closed

[2020-03-25 16:01] greedesign opened #168 "No CSS generating for blocks (advanced columns)"
We have been having an issue where non of the CSS for blocks is being generated. One one site we had the issue where the background color was not being applied due to the generated class and associated styles not existing anywhere in the DOM. This was alleviated by duplicating the advanced column block and deleted the original - then background color applied. Now on a completely new site we are ha

[2020-03-26 06:04] RajkiranBagal commented on #168
Hey, @greedesign
 I tried replicating the scenario as you mentioned but I am not facing any such issues.
 Can you please open a ticket [here](https://www.ultimategutenberg.com/support/) and provide me the steps to replicate the issue at my end.
We are happy to help!
Looking forward to hearing from you.

Regards,
Rajkiran Bagal

[2020-03-26 16:24] greedesign commented on #168
Hi Rajkiran,

My apologies but I was able to pinpoint the issue and it was not specific
to UAG but a combination of issues in the theme hook that rendering out my
specific block as well as my custom colour palette. My apologies for
wasting your time.

Stay safe,
Graeme

On Thu, Mar 26, 2020 at 12:04 AM RajkiranBagal <notifications@github.com>
wrote:

--
Cheers,
Graeme

[2020-03-30 10:32] #168 closed

[2020-03-30 10:33] RajkiranBagal commented on #168
As the issue is not related to UAG so closing this issue.

[2020-03-30 10:36] vrundakansara commented on #162
Hey @thomasdebruin ,

This default padding in the Gutenberg editor is a theme feature. Your theme needs to be Gutenberg editor compatible. I see it [like this](https://share.getcloudapp.com/JruWB55w) with [Astra](https://wordpress.org/themes/astra/) theme.

I hope this helps you.

Regards,
Vrunda Kansara

[2020-03-30 10:36] #162 closed

[2020-03-30 10:40] vrundakansara commented on #160
Fixed #158

[2020-03-30 10:40] #160 closed

[2020-04-06 13:44] mhilker opened #185 "Table of Contents: Smooth scroll does not work with umlauts"
Umlauts seem to break smooth scrolling. Create two entries `blume` and `blüten`.

Click on `blume`. Smooth scrolling works.
Click on `blüten`. Smooth scrolling does not work.

The menu:
[code]

The headlines:
[code]

[2020-04-07 03:58] vrundakansara commented on #185
Hey @mhilker ,

Thank you for bringing this to us.
This issue is already fixed in our development version. Very soon we will release an update with this.
Also, if you need the dev version of the plugin to avoid hurdles in your work you can reach us out [here](https://www.ultimategutenberg.com/support/).

[2020-04-07 03:58] #185 closed

[2020-05-07 07:01] vrundakansara commented on #155
This has been fixed in [v1.14.9](https://github.com/brainstormforce/ultimate-addons-for-gutenberg/releases/tag/v1.14.9). Please update to latest UAG to see this fixed.

[2020-05-07 07:01] #155 closed

[2020-06-02 22:30] roadsunknown opened #272 "Icons on Multi-button"
### Is your feature request related to a problem? Please describe.
Unable to add icons to the Multi Buttons block. The Info Box block, Marketing Button block and Call to Action Block all have ability to add icon to buttons in the respective block.

### Describe the solution you'd like
Port the same functionality from the Info Box block (or the Call to Action block) to _optionally_ add an icon to t

[2020-06-02 22:40] roadsunknown opened #273 "Add Marketing Button Block Title Tag Option"
### Is your feature request related to a problem? Please describe.
The Title in the Marketing button block is hard-coded as a H6 and cannot be changed.

### Describe the solution you'd like
Add option to set the Title Tag similar to that the Price List block which allows selection of Title Tag (H1-6, P, SPAN).

### Describe alternatives you've considered
None.

### Additional context/screenshots
N

[2020-06-05 08:41] RajkiranBagal commented on #272
Hey @roadsunknown,

Thanks for the suggestion!

I am adding this as a feature request in our task list.

It will surely be added to our future upcoming updates.

Regards,
Rajkiran

[2020-06-05 08:41] #272 closed

[2020-06-05 08:42] RajkiranBagal commented on #273
Hey @roadsunknown,

Thanks for the suggestion!

I am adding this as a feature request in our task list.

It will surely be added to our future upcoming updates.

Regards,
Rajkiran

[2020-06-05 08:42] #273 closed

[2020-06-05 09:02] vrundakansara commented on #164
Thank you @stacyk for bringing this to us.
I will look into it.

[2020-06-06 06:49] vrundakansara commented on #164
@stacyk - This has been fixed here in this PR - #280
This will be released in the upcoming update.

[2020-06-07 19:49] roadsunknown opened #281 "Global Settings for Blocks"
### Is your feature request related to a problem? Please describe.
There are many blocks that have settings. For example, the Table of Contents block has settings for Headings and Scrolling. The problem is these settings must be set for every single instance of the block.

### Describe the solution you'd like
Settings would be better set at a global level but also include the ability to be overrid

[2020-06-13 05:29] roadsunknown opened #297 "Call To Action anchor does not save"
### Describe the bug:
The Call To Action block property "HTML Anchor" does not save. If you enter text as per instructions and update (save) post/page, everything seems correct. However, if you visit the page/post, the HTML Anchor tag (id=) is not rendered. If you refresh the editor, the HTML Anchor no longer exists.

### To reproduce:

1. Go to Pages or Posts
2. Create a Page/Post or Edit any Pag

[2020-06-22 14:24] zachzoup opened #318 "Rendering Settings/CSS for Block"
Apologies for not using an issue template, but I wouldn't classify this as a bug or a feature request.

When I retrieve post content with the `get_posts` function, how can I render the settings and CSS for the blocks included in `post_content`? I see the settings commented before each block like below, unsure how to actually use this information though. Any guidance would be greatly appreciated!

[2020-06-22 16:27] zachzoup commented on #318
Is it possible to expose a function to return the CSS file for a specific post? I noticed the path to the files is `/wp-content/uploads/uag-plugin/uag-style-{{post_id}}-{{post["meta"]["uag_style_timestamp-css"][0]}}`, I'm a bit weary to hardcode this path in the event that it ever changes.

[2020-06-25 04:41] vrundakansara commented on #318
Hey @zachzoup ,
We generate the CSS/CSS files on the fly on every load. Indeed the timestamp and the data might change as per our logic, so hard coding them is not an optimal solution.

I would like to further know, how are you expecting to use this post_content and where do you need these files to be included.
In that case, I can help you better.

Regards,
Vrunda Kansara

[2020-06-25 04:47] vrundakansara commented on #164
This feature is released in [v1.16.0](https://wordpress.org/plugins/ultimate-addons-for-gutenberg/)

[2020-06-25 04:47] #164 closed

[2020-06-25 04:47] #146 closed

[2020-06-25 04:58] RajkiranBagal commented on #297
Hey @roadsunknown,

Thank you for reporting this issue.

I have added a task for this issue to be fixed and it will be fixed in our upcoming updates.

Your patience and co-operation are highly appreciated.

Regards,
Rajkiran.

[2020-06-29 17:40] zachzoup commented on #318
One example is creating a "Page Not Found" page in WP, and populating the 404 page with the contents of that page template. The CSS for that page doesn't load.

[code]

[2020-07-02 03:01] roadsunknown opened #328 "Toggle / Accordion Block"
### Is your feature request related to a problem? Please describe.
Accordion / toggle block is a commonly used UI element.

### Describe the solution you'd like
- Open and close (toggle) content.
- Title
- Color scheme
- Open and close icons that switch (with animation?) (use existing icon library with default icons pre-configured)
- Toggle on title and open close icons
- Multiple accordions in si

[2020-07-02 06:30] vrundakansara commented on #328
Hey @roadsunknown
Thank you for your suggestions. We do have a similar block which is Schema Enabled - [FAQ Schema](https://www.ultimategutenberg.com/faq/)

Regards,
Vrunda Kansara

[2020-07-02 15:47] roadsunknown commented on #328
Hi @vrundakansara. The FAQ Schema is a decent workaround, but may be a bit confusing if implemented not for an actual FAQ. I do see you can disable the schema. I would still like to support a more generic accordion-style block which has more display options as documented.

[2020-07-08 21:07] dovy opened #331 "Greedy CSS selector affecting all of Gutenberg, bind only to your plugin please"
### Describe the bug:
Inside ~/dist/blocks.style.css?ver=1.16 is the following line: `.uagb-ifb-left-right-wrap, button.components-button {z-index:1;}`. This affects all of Gutenberg causing the components-tooltip to go behind all components-buttons.

### To reproduce:
Use your plugin.

### Expected behavior:
Bind those styles on to your own components as not to affect gutenberg as a whole.

### S

[2020-07-09 05:27] vrundakansara commented on #331
Hey @dovy ,

Thank you for reporting this to us. We will get it fixed in the upcoming update.

Regards,
Vrunda Kansara

[2020-07-09 12:31] dovy commented on #331
Excellent. Would you like me to close this or will you when the release happens?

[2020-07-10 08:20] vrundakansara commented on #331
@dovy - We have fixed it here and very soon we will release an update. #334
I will close this issue since the PR is merged.

[2020-07-10 08:20] #331 closed

[2020-07-10 11:34] dovy commented on #331
Thank you.

[2020-07-30 01:22] roadsunknown commented on #297
@RajkiranBagal Any updates? Does not appear this made it into the latest release 1.16.1: https://www.ultimategutenberg.com/changelog/.

[2020-07-30 13:30] errotu opened #350 "Full-width for Twenty-Twenty-Template"
First, thanks a lot for your great work and this fantastic plugin!

### Is your feature request related to a problem? Please describe.
There is no full-width option using UAG with the Twenty Twenty wordpress theme (while the theme generally supports fullwidth blocks).

### Describe the solution you'd like
I should be able to display UAG-blocks in full-width mode using the current wordpress standar

[2020-07-30 16:57] roadsunknown commented on #328
@vrundakansara I've thought about this more and think the FAQ Schema can work if not for one exception. Only basic text content can be included in a FAQ answer. For example, lists (UL/OL) cannot be added nor any other type of block. Without support for nested blocks, FAQ - Schema is not viable to implement a toggle/accordion block.

Also, I do think it is a bit confusing by calling it the "FAQ - S

[2020-07-31 04:53] RajkiranBagal commented on #297
Hey @roadsunknown,

We have fixed this issue and it is in the testing phase.

It will surely be released in our upcoming update.

If you want a development version of this fix then, Please open a ticket [here](https://www.ultimategutenberg.com/support/open-a-ticket/), So that we can provide you with the same.

Looking forward to hearing from you.

Regards,
Rajkiran.

[2020-07-31 05:47] AbhijitNage123 commented on #350
Hello @errotu

I am glad you liked our plugin.

Thanks for your suggestion.

The full width and wide width classes, alignfull , alignwide are added to respective blocks on the selection of the full-width options. These classes have their properties defined in the active theme. These properties will act differently in different themes. Twenty Twenty theme has its own definition of these classes. Wo

[2020-08-03 21:53] roadsunknown opened #352 "Icon List Font Size rendered as PX when configured as EM"
### Describe the bug:
When the typography font-size is configured as "em", there are two styles rendered, one is correctly "em" but another is "px". This renders the "em" useless and the text too small.

### To reproduce:

1. Insert a Icon List block
2. Adjust Typography > Font Size to 1.2
3. Configure the measurement to "em"
4. Publish and view source

### Expected behavior:
The font-size propert

[2020-08-04 04:53] AbhijitNage123 commented on #352
Hey @roadsunknown,

Thank you for reporting this issue.

I have added a task for this issue to be fixed and it will be fixed in our upcoming updates.

Your patience and co-operation are highly appreciated.

Regards,
Abhijit

[2020-08-04 17:48] roadsunknown opened #355 "Multi Button Full Width Block Error"
### Describe the bug:
In the Gutenberg editor, if you select the Full Width alignment on a Multi Button block, the block shows a preview error "This block has encountered an error and cannot be previewed." You cannot switch back or undo, thus requiring the re-creation of the entire block.

### To reproduce:

1. Insert a "Multi Button" block.
2. Select the top/parent level of the Multi Button block

[2020-08-04 17:52] roadsunknown commented on #355
I see this has been fixed in 1.6.1.1 (not yet released): https://github.com/brainstormforce/ultimate-addons-for-gutenberg/pull/351

[2020-08-04 17:52] #355 closed

[2020-11-11 15:48] matjemeisje opened #422 "Taxonomy List links broken for custom taxonomies if term contains spaces"
When adding a taxonomy list block for a custom taxonomy and custom post type, I get the following warning on all terms that contain spaces: "ltrim() expects parameter 1 to be string, object given".

The terms display okay in the editor, but on the frontend only the post count is displayed, and the url is replaced with the warning message.

[2020-11-12 07:20] amithire1201 commented on #422
Hey @matjemeisje

Apologize for inconvenience.

We have fixed this issue and it will surely be released in our upcoming update.

If you want a development version of this fix then, Please open a [ticket](https://www.ultimategutenberg.com/support/open-a-ticket/) here, So that we can provide you with the same.

Looking forward to hearing from you.

Regards,
Amit

[2020-11-12 09:04] matjemeisje commented on #422
Hi @amithire1201

Thank you for the quick response! I'll wait for the update.

[2020-11-12 09:04] #422 closed

[2020-12-04 02:14] thw26 opened #435 "Arbitrary Taxonomy Selection in Post Layout Blocks"
### Is your feature request related to a problem? Please describe.
When using a Post Layout, such as Masonry, I am able to select an individual category or all categories, but I should be able to choose multiple categories but not all categories.

### Describe the solution you'd like
Enable something like checkboxes in the post layout blocks Taxonomy selector.

### Describe alternatives you've con

[2020-12-04 05:16] AbhijitNage123 commented on #435
Hey @thw26,

Thank you for reaching out to us.

Unfortunately, there is no such direct option for now. But meanwhile, you can make use of action hooks to achieve this. Here is a link to the document – https://www.ultimategutenberg.com/docs/filters-actions-for-post/#uagb_post_query_args_{post_block_type}

If you need quicker assistance regarding this you can always raise a ticket from here -https:/

[2020-12-04 11:53] thw26 commented on #435
This looks like it should work. Is there a list of the query arguments somewhere?

[2020-12-07 10:05] AbhijitNage123 commented on #435
Hey @thw26,

There are no query args somewhere on our site but you can check by `var_dump($query_args)` inside filter. Meanwhile, the below custom code helps you to exclude the specific category from the post grid block.

[code]

[2021-01-02 17:16] joshcoast commented on #106
I'm also noticing that blocks from UAG aren't getting rendered with styles or js when using them with other plugins and themes. For example, if I use a UAG in a "Groovy Menu" (a mega menu plugin) block, the js and styles are lost. Also, if I use the "Elements" feature in the GeneratePress theme, all styles and js are lost. As such, I feel like I can't really include this plugin in a project. If a

[2021-01-05 17:09] incraigulous commented on #281
Is there any way that I could help with this? Is there already a plan of how this could be implemented?

[2021-01-21 16:31] carloreggiani opened #483 "Post Carousel glich with Astra Theme (from version 1.20)"
Hi

With the last version in the Post Carousel block the dimension of the images is not managed as well, specially with the autoloop mode.

In edit mode it seems all ok, after publishing the page the block seems have no correct dimension to contain the images and title and excerpt, both on desktop and mobile mode.

Any fix?

Thanks

Carlo

[2021-02-18 15:10] Oosik opened #496 "hexToRgba() should check for empty color string"
Occasionally when I use a section and save it as a pattern it will save a blank value for gradient background.  like this:

[code]
here you can see it has two blank gradient values "gradientColor1\":\"\",\"gradientColor2\":\"\".

So if I add this pattern to a page/post and select gradient in the background dropdown I'll get:

[code]
if I go to hexToRgba and change `if (undefined == color)` to `if

[2021-02-25 04:46] AbhijitNage123 commented on #483
Hey @carloreggiani,

Thanks for reaching out to us.

We have already released a patch for all issues related to the Post  Carousel block in our V1.20.1.

Could you please share any screenshots or videos where I can check what issue you are facing?

Looking forward to resolving your issue.

[2021-02-25 05:07] AbhijitNage123 commented on #496
Hello @Oosik,

Thanks for reaching out to us.

I'm able to replicate the same at our end.

I have added a task to our to-do list and assign it to the concerned developer to debug this further. It will be fixed in our upcoming updates.

Till then your patience is highly appreciated.

[2021-02-25 09:03] carloreggiani commented on #483
Hi @AbhijitNage123 sorry for delay: the v1.20.1 resolved the but, now the Post Carousel block works fine!

Thank you

Carlo

[2021-03-15 17:46] skorasaurus opened #517 "Conditionally load the images for the UAG templates; they're being loaded every time the editor is open"
### Describe the bug:

The UAG templates are automatically loaded when the plugin is active and the editor is open and that adds considerable overhead; automatically loads over a dozen images, which is several hundred KB.

### To reproduce:

1. Install, activate plugin
2. go to yoursite.com/wp-admin/post-new.php?post_type=page
3. control + c + shift (in firefox), go to network tab
4. view the reso

[2021-03-16 04:47] vrundakansara commented on #517
Hello @skorasaurus ,

Thank you for reporting this to us.
I have added this as a feedback task and our team will start working on it. Probably in the upcoming few updates, we will handle this.

[2021-03-17 19:40] VR51 opened #521 "Tab Anchors in the Tab Block Are Ignored"
When the tab block is used and multiple tabs created each tab is given a numbered link anchor such as #uagb-tabs__tab1 and #uagb-tabs__tab2. These anchors should allow me to link to a page that contains a tab block and to have a specific anchored tab open automatically. E.g. example.com/#uagb-tabs__tab1 should take a visitor directly to tab1. This expected behaviour doesn't seem to work. The ancho

[2021-03-18 07:36] supriyajjadhav commented on #521
Hello @VR51,

Thanks for reaching out to us.

I'm able to replicate the same at our end.

I have added a task to our to-do list and assign it to the concerned developer to debug this further. It will be fixed in our upcoming updates.

Till then your patience is highly appreciated.

[2021-03-18 17:51] VR51 commented on #521
Thank you @supriyajjadhav !

[2021-03-25 14:58] skorasaurus commented on #517
Hi,

I read this has been implemented in the newest update and verified it works as expected; thank you

https://ultimategutenberg.com/docs/remove-uag-templates-button/

[2021-03-25 14:58] #517 closed

[2021-03-26 12:41] avdhooft opened #533 "Request for Inverted Shape Divider"
Hi,
First of all thanks for the nice plugin.
I have a request for two additional shape dividers that I need for a design (see screenshots).
They are the inverted versions of the Curve and Curve asymmetrical.
I tried to add them myself in blocks.build.js where I found the other shapes, but somehow the shape was not visible.
A nice solution would also be an inverted option. Similar to https://www.sh

[2021-03-27 10:54] avdhooft commented on #533
I have added in blocks.build.js around line 9312 :
`
	"curve_reversed": el("svg", { xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 1200 120", preserveAspectRatio: "none" }, el("path", { className: "uagb-columns__shape-fill reversed", d: "M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" })),
	"curve_asym_reversed": el("svg", { xmlns: "http://www.w3.or

[2021-03-31 13:33] evilaliv3 opened #536 "Astra Pro bug: Scroll To Top implementations could not work without jQuery dependency"
The functionality Scroll to Top of astra pro is currently relying on jQuery and could not work without it

I consider it could be easily be reimplemented by means of a the standard JavaScript functions:
- getElementById/getElementByName/getElementByTag
- scrollIntoView

https://www.w3schools.com/jsref/met_element_scrollintoview.asp

[2021-03-31 13:34] evilaliv3 commented on #536
I actually notice that this is not related to this repository. Let me close this and move this to the Astra repository.

[2021-03-31 13:34] #536 closed

[2021-04-02 19:29] Oosik opened #542 "Slider control for column width (advanced columns block) is broken"
### Describe the bug:
I should be able to select a column and slide the control under under "content width" to adjust the column width. the input is set to 42% so you can only do that by clicking and dragging off to the left side of the control.

plugin version 1.22.1

`.uagb-size-type-field-tabs .components-range-control .components-range-control__slider {
    width: 42%;
}`

### To reproduce:
1.

[2021-04-05 05:49] supriyajjadhav commented on #542
Hello Oosik,

Thanks for reaching out to us.

I'm able to replicate the same at our end.

I have added a task to our to-do list and assign it to the concerned developer to debug this further. It will be fixed in our upcoming updates.

Till then your patience is highly appreciated.

[2021-04-07 19:45] tobeyadr opened #549 "Some LifterLMS blocks break when UAG is active."
### Describe the bug:
When UAG is active it breaks some of the server-side rendered blocks in LifterLMS.

Notably the following blocks.
- Instructors
- Course syllabus
- LifterLMS Pricing table

The specific error message I am getting is "Error loading block: Invalid parameter(s): attributes"

### To reproduce:

1. Install & activate LifterLMS (free version)
2.  Install & activate UAG
3. Create a

[2021-04-08 04:10] supriyajjadhav commented on #549
Hello Tobeyadr,

Thanks for reaching out to us.

I'm able to replicate the same at our end.

I have added a task to our to-do list and assign it to the concerned developer to debug this further. It will be fixed in our upcoming updates.

Till then your patience is highly appreciated.

[2021-04-08 16:12] NicoHood opened #552 "Special category characters in Gutenberg preview not shown"
### Describe the bug:
The category is named "Tips & Tricks", checkout the result:
![image](https://user-images.githubusercontent.com/6888294/114060584-cfdf5080-9895-11eb-9147-772c52e5de3d.png)

It works in the real website, so it is not that critical.

### WordPress version:
5.7

[2021-04-08 16:15] NicoHood commented on #435
I also would love to see this feature. Additionally I'd like to exclude some specific posts, or also select the post ids directly (instead of a category or taxonomy). You can see a similar implementation here:
https://de.wordpress.org/plugins/wp-show-posts/

[2021-04-09 04:19] supriyajjadhav commented on #533
Hello Avdhooft,

We're glad that you liked our plugin. :)

I will surely convey your feedback to our concerned developers. We are always keen to listen to our customers and to receive their feedback. This is the best way to improve our products and services and maintain our client's satisfaction. :)

I'll put forward your thought about this to our team and if feasible we will try to improve the sc

[2021-04-09 04:33] supriyajjadhav commented on #552
Hello NicoHood,

Thanks for reaching out to us.

I'm able to replicate the same at our end.

I have added a task to our to-do list and assign it to the concerned developer to debug this further. It will be fixed in our upcoming updates.

Till then your patience is highly appreciated.

[2021-04-09 06:00] RajkiranBagal commented on #483
We are glad to header your issue is resolved @carloreggiani!

Have a Great Day ahead!

[2021-04-09 06:00] #483 closed

[2021-04-09 06:04] RajkiranBagal commented on #350
Hey @errotu,

Due to no response for a long time from you, we are closing this Issue.

Please let us know if you face any more issues, we are always there for you.

Have a Great Day ahead!

[2021-04-09 06:04] #350 closed

[2021-04-09 06:25] RajkiranBagal commented on #352
Hey @roadsunknown ,

I am closing this issue as we have Fixed this issue & released it in version 1.17.0.

Please let us know if you face any issues, we are always there for you.

Regards,
Rajkiran.

[2021-04-09 06:25] #352 closed

[2021-04-13 21:01] thomasplevy commented on #549
I just want to weigh in on this as this was reported to us as a bug in LifterLMS and I've finally dug into it: https://github.com/gocodebox/lifterlms-blocks/issues/85

I can replicate the above behavior using (probably) any server-side rendered block:

1. Create a page
2. Add an "Archive" block to it (from the WordPress core blocks lib)
3. See an invalid block error.

You don't need any plugins in

[2021-04-14 04:08] supriyajjadhav commented on #549
Hello thomasplevy,

Thanks for reaching out to us.

I'm able to replicate the same at our end.

I have added a task to our to-do list and assign it to the concerned developer to debug this further. It will be fixed in our upcoming updates.

Till then your patience is highly appreciated.

[2021-04-20 10:14] RajkiranBagal commented on #297
Hey @roadsunknown,

Closing this issue as we received no response from you for a long time.

Regards,
Rajkiran

[2021-04-20 10:14] #297 closed

[2021-05-19 16:55] incraigulous opened #692 "Add role and aria-label to section block"
### Is your feature request related to a problem? Please describe.

We need the ability to add basic screen-reader support to UAG sections.

### Describe the solution you'd like
  <section role="region"
             aria-label="A custom label">

### Describe alternatives you've considered
I considered building my own section block, but we really like UAG.

### Additional context/screenshots
I woul

[2021-05-20 04:13] AbhijitNage123 commented on #692
Hello @incraigulous,

Thanks for reaching out to us.

It's a really good idea to add an optional field like aria-label & role. I'll put forward your thought about this to our team and if feasible we will surely improve the scenario in our future updates.

I hope you understand.

Let me know if you need anything else.

[2021-05-20 22:23] KristofferBroberg opened #697 "Gravity Form Styler won't show form"
### Describe the bug:
When choosing form to style in the Gravity Form Style block, the block instantly disappears.

### To reproduce:
1. Insert Gravity Form Styler block
2. Choose your form

### Expected behavior:
See form and be able to customize its appearance.

### Isolating the problem:

- [ X] I can reproduce this bug consistently using the steps above

### WordPress version:
5.7.2

### Gravi

[2021-05-21 04:53] AbhijitNage123 commented on #697
Hello @KristofferBroberg,

Thanks for reaching out to us.

It seems that you're using Gravity form conditional logic. Due to that, it has an inline style of display: none applied as mention by [GF Forms](https://share.getcloudapp.com/12uAGbNN). So the solution to your query needs to use some custom CSS in the backend.

Could you please add the below code in your themes function.php -

[code]

I ho

[2021-05-21 12:35] KristofferBroberg commented on #697
Hello @AbhijitNage123 and thanks for your help. Unfortunately, this solution comes with other problems:

1. The same CSS-rule has to be applied to the front end
2.  It breaks the conditional functions of the form. I. E fields that shouldn't show does.

[2021-06-01 07:15] AbhijitNage123 commented on #697
Hello @KristofferBroberg,

Sorry for the delay in response.

The CSS I shared in the previous response is only applied to the admin_footer in the editor area. It does not load on the front end.

Could you please share what exactly breaking with GF-Styler block? Could you please share some screencasts?

Please share more details [here](https://ultimategutenberg.com/support/open-a-ticket/) on our su

[2021-06-01 17:07] incraigulous commented on #692
Thank you, @AbhijitNage123!

[2021-06-02 09:12] sandeshjangam opened #717 "📣 Ultimate Addons for Gutenberg v1.23.0 Beta 1 Release 📣"
# v1.23.0 Beta 1

Hello, UAG Beta testers 👋

We are here with the Ultimate Addons for Gutenberg (UAG) v1.23.0 Beta.

This version of UAG brings impressive speed improvements that will make your websites load faster than ever before. It also brings new useful features like an option to rollback to the previous version & beta version updates directly in the dashboard.

We invite you to try out UAG v

[2021-06-02 09:36] vrundakansara commented on #717
Wow! Congratulations team! 🎉

[2021-06-02 11:26] monika-12 commented on #717
Awesome !! Good work team 👏

[2021-06-08 11:50] #717 closed

[2021-06-09 06:29] z-avanes opened #736 "Persian strings convert to question marks in table of contet block"
### Describe the bug:
I should be able to see persian text correctly in table of content block, but it's convert to question marks in frontend output.
Content in editor side remain correct after save post but in frontend side it's convert to question marks.
Maybe this is utf8 problem and HTML print proccess doesn't work correctly with utf8 strings

### Screenshots:

![image](https://user-images.gi

[2021-06-09 11:24] AbhijitNage123 commented on #736
Hello, @z-avanes,

Thanks for reaching out to us! We're sorry for the inconvenience caused to you.

Also, we are thankful for your patience and readiness to help us fix things that we come across.

I'd like to let you know, we have just released an update related to this issue. Can you please update to V1.23.1 and check?

Let me know if you need any help from us.

[2021-06-09 14:13] z-avanes commented on #736
Thank you @AbhijitNage123
bug fixed on V1.23.1

[2021-06-09 14:29] z-avanes commented on #736
After some test I find another convert to question mark issue with persian half space character (shift+space)

![image](https://user-images.githubusercontent.com/3988232/121374008-c7b69680-c954-11eb-86df-36b54a3d1436.png)

[2021-06-14 08:11] daveloodts opened #755 "overflow hidden for uagb-column__wrap"
Since the latest updates we have noticed that the class .uagb-column__wrap has gotten a { overflow: visible;}.
Is this correct?

If so, i would rather see it go again.
The best thing about the padding/margin setting in this plugin; is the option for negative margins to create stuff like this: https://share.woofers.be/4gun9qbl

[2021-06-14 09:20] supriyajjadhav commented on #755
Hello @daveloodts,

Thanks for reaching out to us!

I'd like to let you know, we haven't made such changes in our plugin.

Can you please provide more details about the issue? If possible, please share a video or a couple of screenshots that points out the issue you are facing.

Please share more details [here ](https://ultimategutenberg.com/support/open-a-ticket/) on our support portal.

Looking

[2021-06-15 09:16] fishmi commented on #281
I could also desperately use this feature.
For example, a width can be specified for the blocks of "Getwid" in the general settings. That would be helpful.
Of course, it would be even better if default values could be specified for the individual blocks. For example, it is annoying if you have to reset the paddings for every "section" block.  This can't be solved with a stylesheet either, because

[2021-06-15 09:32] fishmi commented on #281
By the way, the "Kadence Blocks" are exemplary for what I would like to see.
There is an icon in the editor area at the top right to access these default settings.
And these can be set very specifically.

[2021-06-26 16:06] OlaIola opened #780 "Doesn't work in Widgets in WP 5.8"
### Describe the bug:
WordPress 5.8 Beta 4 - Ultimate Addons for Gutenberg (version 1.23.4) results in errors in the console and in Widgets Ultimate Addons for Gutenberg block don't work at all. The same behaviour with Gutenberg (version 10.9.1).

### Screenshots:
![2021-06-26_18-52-25](https://user-images.githubusercontent.com/16874687/123518972-c7363380-d6a8-11eb-9c4e-cfa5d953b698.png)

### Isol

[2021-06-28 14:14] AbhijitNage123 commented on #780
Hello @OlaIola,

Thanks for reaching out to us.

I'd like to let you know that, we already have a task of it on our to-do list.

I'll discuss this further with our team once and will line up tasks in our upcoming updates.

Also, we are thankful for your patience and readiness to help us fix things that we come across.

Let me know if you need anything else.

[2021-07-03 20:25] tomjn opened #791 "FAQ block + parse_blocks + serialize_blocks + unicode characters = broken block"
### Describe the bug:

A user recently opened a stack exchange question:

https://wordpress.stackexchange.com/questions/391381/gutenberg-block-manipulation-undo-parse-blocks-with-serialize-blocks-result?noredirect=1#comment569423_391381

_**⚠️ I am not that user ⚠️**_

The FAQ block stores its schema as an attribute _however it is stored as a JSON string_. As a result it is double encoded. This ca

[2021-07-06 05:08] RajkiranBagal commented on #791
Hello @tomjn,

Thank you for reporting this to us.

We were able to reproduce this issue at our end.

I have added a task for this issue at our end & we will surely fix this issue in our future upcoming updates.

Your patience & co-operation are highly appreciated.

Regards,
Rajkiran.

[2021-07-06 09:13] tomjn commented on #791
Thanks @RajkiranBagal! The person with the problem will be pleased to hear it!

As this issue seems to happen in a lot of blocks that do the same thing, it would be really good to get a write up of reproducing the problem and fixing it from your end, it'd be really useful to share with other developers and plugin authors

[2021-07-13 08:54] rutviksavsani opened #805 "Radio Button's not working in forms"
### Describe the bug:
The Form does not show the radio buttons when it goes live.

### To reproduce:
1. Add a form to a Post in WordPress Editor.
2. Add a Radio item to form
3. Publish the form and you will find it does not have option to select radio option.

### Expected behavior:
- Should be able to select a radio option
- Should be Visible

### Screenshots:
![Screenshot from 2021-07-13 14-19-0

[2021-07-13 09:37] supriyajjadhav commented on #805
Hi rutviksavsani,

Thanks for reaching out to us.

I'm able to replicate the same at our end.

I have added a task to our to-do list and assign it to the concerned developer to debug this further. It will be fixed in our upcoming updates.

Till then your patience is highly appreciated.

[2021-07-14 05:47] rutviksavsani commented on #805
sure, waiting for the update cheers!!

[2021-07-15 11:41] wolfgegenlicht opened #817 "Preview of uagb-Blocks doesn't work with published Pages"
### Describe the bug:
It's not possible to see the changes of uagb-Blocks as long as the page is published

### To reproduce:
1. Add a new Page
2. Add a new Ultimate Add-Ons Gutenberg Section and insert a longer Paragraph into that
3. Change the width of the Section Container Block (or Background color or whatever)  and preview it
4. As long as the page is a Draft you're able to see the changes in

[2021-07-15 11:58] AbhijitNage123 commented on #817
Hello @wolfgegenlicht,

Thank you for reporting this to us.

We were able to reproduce this issue at our end.

I have added a task for this issue at our end & we will surely fix this issue in our upcoming updates.

Till then your patience & co-operation are highly appreciated.

[2021-07-20 09:38] NicoHood opened #836 "Star rating not shown properly on firefox"
### Describe the bug:
![image](https://user-images.githubusercontent.com/6888294/126299538-6f521185-b5ce-4fd7-a91f-43ffcfeee716.png)

### To reproduce:
1. Create a new star rating
2. Watch the page with firefox browser

### WordPress version:
5.7.2

UAG Version 1.24.0

[2021-07-20 11:06] AbhijitNage123 commented on #836
Hello @NicoHood,

Thank you for reporting this to us.

We are able to reproduce this issue at our end.

It seems that the nth-child css causing the issue in firefox. I have added a task of it to a to-do list.

And assigned to the concerned developer for a fix. It will fix in our upcoming updates.

Till then your patience & co-operation are highly appreciated.

[2021-07-20 16:36] NicoHood commented on #836
I have written a blog post about very fancy and compact css only star rating solutions. You might want to check that out, as it could help improving the block:
https://blog.nicohood.de/pure-css-only-html-star-rating-no-javascript

[2021-08-03 05:28] supriyajjadhav commented on #805
Hello rutviksavsani,

We are thankful for your patience and readiness to help us fix things that we come across. I'd like to let you know, we have fixed this issue in our version 1.23.5. I'd request you to please update the plugin to the latest version to fix your problem.

Let me know how it goes.

[2021-09-03 00:46] roadsunknown opened #948 "Language Localized to Site Settings Not User Settings"
### Describe the bug:
The UAG Settings pages are displaying in the localized language of the site (Spanish) whereas previously the UAG Setting pages displayed in English. However, the admin user logged in has the user language set to English. UAG should respect the language of the user, not the language of the site. This is how WP admin functions and is expected the same for plugins.

### To repro

[2021-09-03 05:12] AbhijitNage123 commented on #948
Hello @roadsunknown,

Thank you for reporting this to us.

We are able to replicate the same at our end. We have added a task of it to a to-do list.

And assigned to the concerned developer for a fix. It will fix in our upcoming updates.

Till then your patience & co-operation are highly appreciated.

[2021-09-14 06:51] rutviksavsani commented on #805
fixed

[2021-09-14 06:51] #805 closed

[2021-09-23 20:31] NicoHood opened #1010 "Table of Contents not properly shown in preview"
### Describe the bug:
When I add a TOC to a page and click the preview button, the Icons completely fill the page. I am observing this on multiple websites.

I remember there was a bug with too large icons in the changelog. It could be related to this bug.

### To reproduce:
Add a TOC and click preview.

### Screenshots:
![grafik](https://user-images.githubusercontent.com/6888294/134579531-79f2b57

[2021-09-24 04:38] AbhijitNage123 commented on #1010
Hello @NicoHood,

Thanks for reaching out to us!

I tried the same as you mention but I'm not able to replicate the issue at our end. It's working fine.

Please check screencast - https://share.getcloudapp.com/P8uGPG0y

Let me know if I'm missing any case here. Looking forward to resolving your issue.

[2021-09-24 06:54] NicoHood commented on #1010
Maybe the difference is, that I am injecting the TOC via Astra pro. I set the hook to "before the first headline". Can you try this?

[2021-09-30 10:38] sandeshjangam opened #1062 "📣 Get Early Access To Ultimate Addons for Gutenberg 2.0 📣"
# UAG v2.0.0 Beta 1

Hello, UAG Beta testers 👋

With the growing popularity and adoption of the Gutenberg Block Editor for WordPress, we are releasing a significant update for our plugin Ultimate Addons for Gutenberg.

We are calling it UAG 2.0 - and you can get early access to the beta version by downloading it [here](https://github.com/brainstormforce/ultimate-addons-for-gutenberg/files/7258762/

[2021-10-04 16:05] m-vdv opened #1072 "Table of Contents block shows additional empty list item"
### Describe the bug:
Table of Contents block shows empty list item after H3, H4, H5, H6 heading.

### To reproduce:
Add a Table of contents block to a post with multiple headings.

### Expected behavior:
No additional empty list items.

FYI: If I toggle the list bullets to be hidden, the issue disappears.

### Screenshots:
![image](https://user-images.githubusercontent.com/1878691/135884626-35609

[2021-10-05 04:09] RajkiranBagal commented on #1072
Hello @m-vdv

Can you please share the link to the page where this issue is occurring?

So that we can debug & try to reproduce the same at our end & fix the issue.

Looking forward to hearing from you.

[2021-10-06 15:03] m-vdv commented on #1072
Hi @RajkiranBagal

Thanks for taking the time to look into this!
Here's the link you requested: https://www.combell.com/nl/blog/betaalmethoden-voor-je-webshop/

Kind regards

[2021-10-08 14:13] RajkiranBagal commented on #1072
Hey @m-vdv ,

I tried adding the same content you are using at my end & it is displaying perfectly fine.

Reference Screenshot - [https://share.bsf.io/7KuAB11G](https://share.bsf.io/7KuAB11G)

I understand that you are not able to give us the credentials to look into your site.

Can you please just Go into the Editor & Copy the Table of Contents & Share it with me here.

Reference Video of How You

[2021-10-08 14:23] m-vdv commented on #1072
Hey @RajkiranBagal

Here's the output of the Table of Contents copy:

``

[2021-11-09 07:38] AbhijitNage123 commented on #948
Hello @roadsunknown,

Abhijit here from Ultimate Addons For Gutenberg Team!

We have debugged this and It does not seem an issue.

It is happening due to the .mo and .po files being present in wp-contents/languages/plugins folder. If you delete those files you will get the UAG settings in the English language that you set from a Users profile.

See here - https://share.getcloudapp.com/kpu641nK

I

[2021-11-10 06:32] roadsunknown commented on #948
I have deleted the files and the language appears to be matching the site language now. The question is, how did these files get created in the first place then? That would be the real issue (and deleting them is the workaround).

[2021-11-15 13:26] michaeltorbert opened #1124 "Plugin breaks Gravity Forms preview block"
### Describe the bug:
When both Gravity Forms and Ultimate Addons for Gutenberg are installed, GF's block shows "Error loading block: Invalid parameter(s): attributes".

### To reproduce:
1. Install both GF and Ultimate Addons.
2. Create a form.
2. Create a page/post.
3. Insert a GF form block.

-->

### Expected behavior:
It's expected to see the block preview of the form.

### Screenshots:

UAG

[2021-11-16 05:35] AbhijitNage123 commented on #1124
Hello @michaeltorbert,

Thanks for reporting to us.

I'm able to replicate the same and fix it at our end.

We will share a dev zip with you. Could you please open a ticket at our support portal from [here](https://ultimategutenberg.com/support/open-a-ticket/)?

Let us know if you need any further help.

[2021-11-16 22:07] michaeltorbert commented on #1124
Thanks for the quick reply. Since you were able to reproduce and fix the issue, I'll just wait for the fix hopefully in the next update. No need to open a support ticket.
👍

[2021-11-18 00:34] agileware-fj commented on #1124
@AbhijitNage123 does your fix address ServerSideRender previews in the general case?

As I have exactly the same problem with Pods block previews and a custom dynamic block that uses ServerSideRender to preview.

[2021-11-24 07:57] martinosmartinos commented on #780
Just heads up: issue still happening with UAG v1.25.0 and Wordpress v5.8.2. Any timeline on fixing it?

[2021-12-24 02:59] jb510 opened #1176 "Team block needs margin/passing options"
### Is your feature request related to a problem? Please describe.
Using the TEAM block there are needed margin and padding controls missing.  Specifically we need to add margin around the featured image and left padding on the text fields.

Note: this is using the Ultimate Add-ons for Gutenberg Beta v2.0.0-beta.1, WP 5.9.. Theme is Astra Pro.

### Describe the solution you'd like
Same margin/padd

[2021-12-24 03:05] jb510 opened #1177 "Team Block Bottom Spacing on Description has no effect"
### Describe the bug:
When adjusting the Bottom Spacing in the Description sub-panel I would expect this to affect the vertical spacing between two team blocks. It appears to do nothing.

### To reproduce:
Insert 2 team blocks using the layout in the screenshot.

Adjust bottom spacing on description.  Nothing happens.

### Screenshots:
![CleanShot 2021-12-23 at 17 03 26](https://user-images.github

[2021-12-24 05:07] AbhijitNage123 commented on #1177
Hello @jb510,

Thanks for reaching out to us!

We have fixed that issue. It is merged in `next-release` branch.

Please see here - https://share.getcloudapp.com/eDulAgeY

Please try our latest zip from [here](https://dev.ultimategutenberg.com/wp-content/uploads/uag-gh/next-release/ultimate-addons-for-gutenberg.zip)

I hope it helps.

Let me know how it goes.

Regards
Abhijit

[2021-12-24 05:18] AbhijitNage123 commented on #1176
Hello @jb510,

Thanks for reaching out to us!

We do have an option for Margin for Image. See here - https://share.getcloudapp.com/2NuvKPo2

To add left padding on the text fields you can use the right margin of the image to add a space between image and text. See [here](https://share.getcloudapp.com/z8ukv19Q)

I hope you understand.

Let me know if I'm missing anything.

Regards,
Abhijit

[2021-12-24 07:14] jb510 commented on #1176
TY.  It's very strange to me that is in the style sub-panel instead of immediately with where you add the image.  I kind of get the logic, just would never have found it on my own.

[2021-12-24 07:14] #1176 closed

[2021-12-24 08:42] AbhijitNage123 commented on #1124
Hello @agileware-fj,

We have already released v1.25.2 which fixes the issue of ServerSideRender previews.

Could you please update to the latest version and give it a try?

Regards
Abhijit

[2021-12-24 22:34] jb510 commented on #1177
TY, but I'm already using that beta (v 2.0.0-beta.1).  I tried reinstalling it in case you all weren't actually updating version numbers, but the result was the same.  Bottom spacing had no effect.

[2021-12-24 22:45] jb510 commented on #1177
Here is a video.  Looks like the Margin-bottom: 0 is coming from another element for editor styles (highlighted at end of video. https://cloudup.com/c5IpsV4eCbG

[2021-12-26 21:31] jb510 commented on #1177
This may have been css another dev added to your child theme.  Sorry for wasting your time if that's the case.

[2021-12-29 05:35] #1177 closed

[2021-12-29 05:44] jb510 opened #1182 "Unexpected image sizing on Team Block in horizontal layout"
### Describe the bug:
The headshot image has a width setting. It's confusing this slider has no units but I believe it's supposed to be pixels.  This does seem to be the case when the team block is stacked vertically, but in the horizontal arrangement it creates unexpected and inconsistent image sizes.  The image size is actually effected by the text length (description field).  See video.

I feel

[2021-12-29 10:56] AbhijitNage123 commented on #1182
Hello @jb510 ,

Thanks for reaching out to us!

It seems that the size of your image is a thumbnail and the images set-up width is as per its size. If you set up the size option to full then it will take the entire width for that image. See here - https://share.getcloudapp.com/DOumNJvz

I hope you understand.

Regards,
Abhijit

[2022-01-04 02:25] jb510 commented on #1182
Hi. Sorry this still doesn't work as expected.  I made ALL my images 1600x1600. I regenerated thumbnails just to be sure.  I tried setting them to thumbnail, medium or full.  I don't think image size matters.

The size of the image shown in the layout still is inconsistent based on the description text.  It seems to change based on if the description copy wraps to the next line or not, and based o

[2022-01-10 19:13] jb510 commented on #1182
@AbhijitNage123 Did you see the above example screencast? Were you still not able to recreate this?

[2022-01-12 01:48] reasondk opened #1201 "Post masonry infinity scroll problem?"
1. I have used UAG post masonry infinity scroll feature to build a website and encountered a problem that if I quickly scrolled to the bottom of the page, the page style would be briefly jumbled. The content of the article will briefly stack on the footer. Attached is a screenshot.

2. What I want is to quickly swipe to the bottom during the infinite scrolling loading process, and don't have the p

[2022-01-12 05:36] AbhijitNage123 commented on #1201
Hello @reasondk,

Thanks for reaching out to us!

Could you please share more information about how to reproduce the above issue? ( Step to reproduce the issue, Theme used, UAG version, and Screencast if possible )

I tried but I'm not able to reproduce it. See [here](https://share.getcloudapp.com/z8uk8YOX).

Looking forward to your response.

Regards,
Abhijit

[2022-01-12 08:31] reasondk commented on #1201
@Abhijit, Thanks for your support. I seem to have found a problem. If you set the content to "full post", it may be caused this issue.

Theme: astra
UAG version: 1.25.2

I have built a test website (http://149.28.40.17), you can test it. if the website opened a moment, scrolling to the bottom（don't stop）, it will appear.

![5ABDBD1D-E9A1-4D15-BA63-4AB5B82D4A25](https://user-images.githubuserconten

[2022-01-13 01:55] reasondk commented on #1201
@AbhijitNage123 Whether to reproduce it?

[2022-01-16 03:41] reasondk commented on #1201
@AbhijitNage123 I found another way to satisfy the demand. That is insert the Featured Image, but how to remove the link of the Featured Image on the UAG post masonry. Hope you to response, many thanks to you!

[2022-01-19 12:33] AbhijitNage123 commented on #1201
Hi @reasondk,

Sorry for the delay in response!

I tried to set content to Full Post but still, I'm not able to reproduce the same. See here - https://share.getcloudapp.com/X6u89X5J

Also, the test website (http://149.28.40.17) shows me [ this ](https://share.getcloudapp.com/llu69OeB)  when I visit it.

To remove the link of the feature image, you can use the below filter -

`add_filter( 'uagb_sin

[2022-01-21 09:45] AbhijitNage123 commented on #1182
Hi @jb510,

I'm so sorry for the delay in response!

We have fixed the issue in `next-release`. We have tested the same and now we are not able to reproduce the it.

See here -https://share.getcloudapp.com/Z4u1KyPX

I'll request you to please try once our next-release branch. Let me know if you still facing the issue.

Regards,
Abhijit

[2022-01-25 20:30] skorasaurus opened #1225 "Content inside a section block is ignored by excerpts"
### Describe the bug:

Content inside the section block is not extracted or used for excerpts.

Most traditional themes rely on trim_the_excerpt and other container like blocks - like the core group block -

### To reproduce:

1. Create a new post
2. insert the following into a new post using the code editor: https://gist.github.com/skorasaurus/947555816ba1741b11b4badeff93dd8f

You can reproduce i

[2022-01-31 14:30] Lehmax commented on #1062
Is this Beta compatible with Wordpress 5.9?

[2022-02-02 00:50] jenfloods opened #1239 "Post Content block in Reusuable Block Extended to create a template with shortcode issue"
### Describe the bug:
I applied the Post Content in a Reusable Block Extended to create a page template with a shortcode. I have created many other blocks, when using only the Post Content block, I am getting you can not rendered a block inside a block. I need Post Content for a blog post template (other blocks are post title, etc. that would be added to this but I tested with and without the same

[2022-02-02 04:29] AbhijitNage123 commented on #1239
Hello, @jenfloods ,

Thanks for reaching out to us!

It seems that your issue is related to the Gutenberg core Post Content block. UAG doesn't have a Post Content block.

I'll suggest you to please open a query at the Gutenberg [repository](https://github.com/WordPress/gutenberg/issues) regarding post content.

I hope you understand.

Let me know If you need any further help.

Regards,
Abhijit

[2022-02-15 08:43] NicoHood commented on #1072
Will this be fixed in the next release?

[2022-02-15 08:43] NicoHood commented on #1010
Any updates?

[2022-02-15 18:31] loumray opened #1302 "Bug Title ..."
### Describe the bug:
Form fail to submit when an Name block field value starts with a +

### To reproduce:
1. Create a form that contain a Name block field and publish it.
2. Put a value that starts with a + sign. For example, '+hello'
3. Submit form

You will get console error:
Uncaught TypeError: postData[$(...).html()] is undefined

pointing to
https://github.com/brainstormforce/ultimate-addon

[2022-02-15 18:55] loumray opened #1303 "Radio button field validation does not trigger any user validation message on submit"
### Describe the bug:
The form fails to submit without any messages, when a required radio button field is left selected.

### To reproduce:

1. Create a form that contains Radio block element.
2. Toggle to make it Required
3. Publish form
4. Load the form page, just submit directly without selecting any radio button option

### Expected behavior:
I would expect some user validation error message

[2022-03-09 23:06] lydenyardley opened #1364 "Unprefixed CSS properties should always be last in the list"
### Describe the bug:
CSS properties should always have the unprefixed version last in the cascade. When UAG generates its CSS files, it places the unprefixed version of a property first.

### To reproduce:
Look at the CSS throughout UAG to see prefixed properties listed last. See some examples in my screenshot.

### Expected behavior:
CSS properties should be listed with the unprefixed CSS after

[2022-03-16 00:10] kennypu opened #1372 "Advanced Columns block: column width breakpoints aren't properly set in editor"
### Describe the bug:
When using the Advanced Columns block, if you set a custom width for desktop and then set a custom width for mobile, the breakpoint for these styles are not set in the editor causing the mobile width to override the desktop width in the Editor. Front-end is fine.

Related Issue: you also can't remove the mobile width value once it is set (defaults to 100?)

### To reproduce:

[2022-03-16 12:49] AbhijitNage123 commented on #1372
Hello @kennypu,

Thank you for reporting this to us.

We are able to reproduce this issue at our end.

It seems that the editor CSS not working properly on tablets and mobile. I have added a task of it to a to-do list.

And assigned to the concerned developer for a fix. It will fix in our upcoming updates.

Till then your patience & co-operation are highly appreciated.

[2022-03-27 15:05] lydenyardley commented on #1364
Nudge

[2022-04-05 22:38] lowegreg commented on #1062
Just wondering if you're considering an mu version?

[2022-04-08 10:04] darkonelson opened #1429 "UAG blocks problems with WP5.9.3"
I installed your beta version 2.0 and after wp5.9 came out a lot of things just don't work.( I use staging site for testing)
Astra Pro and UAG blocks.

I mostly use advanced columns so I will focus on them.
**1.Uag columns in editor**-all distances and paddings set on 20px
![Advanced columns in editor1](https://user-images.githubusercontent.com/87546406/162401594-e950c112-2d3c-480b-a2ec-32c42d60e2

[2022-05-04 00:02] bozzmedia opened #1510 "Post Grid: Spacing options are backwards"
### Describe the bug:
When using the Post Grid block in WP 5.9.3, the Blocing Spacing settings for Horizontal and Vertical spacing are backwards. Vertical adjusts the horizontal spacing, and vice versa.

### To reproduce:
1. Select Post Grid
2. Select Block Settings
3. Select Spacing
4. Modify Horizontal or Vertical Spacing

### Expected behavior:
The options should correspond with the horizontal

[2022-05-12 07:22] aapatre opened #1534 "SPCTR-744 - Container Color Settings"
### Is your feature request related to a problem? Please describe.

As a post author:
- I want to be able to add text color, link color and link hover color for content with Container Block
- So that colors can be inherited by child blocks and styling procedure would be a lot easier

### Describe the solution you'd like
- Add settings for link color, link-hover color and text color
- Implement the

[2022-05-29 11:32] AntonKrutikov opened #1616 "Reusable blocks cause recursive infinite resource load"
### Describe the bug:
Reusable block with Advanced Columns or Section as root element with any media inside (uploaded image, image url, youtube video) cause infinite resource loading if putted twice on page (only in editing mode)

### To reproduce:
1. Create reusable block "Test"
1.1 Add Advanced Column with any number of columns
1.2 Add youtube image element or youtube element to one column
1.3 S

[2022-05-29 12:12] AntonKrutikov commented on #1616
- Converting 1 of Reusable component to Regular block - fixes this behaviour.
- If Reusable component has image element as root or default column (not advanced) - not reproduced.

[2022-09-08 07:29] zakariabinsaifullah opened #2280 "Responsive Conditions don't work for multiple devices"
### Describe the bug:
Responsive Conditions don't work when multiple devices are selected. Suppose you want to hide an element on Desktop+Tablet and only want to show it on Mobile View. And if you turn on Hide on Desktop + Hide on Tablet option, then no settings will be saved. It only works when a single option is turned on. Like, if I want to hide an element only on Desktop or Tablet or mobile, i

[2022-09-13 13:26] vstrelianyi opened #2298 "changing Tab title causes plugin gutenberg-graphql to save null to blocksJSON"
- where I change here
![image](https://user-images.githubusercontent.com/15492290/189912910-7e4a2706-4543-4c17-8ff4-503d95f05798.png)
-> I receive null when getting page blocks with wp-graphql-gutenberg ( https://github.com/pristas-peter/wp-graphql-gutenberg )

If I change content - everything works just fine

[2022-10-03 16:10] st3phan76 opened #2341 "Feature Title ..."
Hi,

### Is your feature request related to a problem? Please describe.
I don't know how important it is. Maybe it's just a small thing, but the Spectra headings are not recognized in the page statistics.

### Additional context/screenshots
![grafik](https://user-images.githubusercontent.com/1858406/193623529-f4e56eaf-a314-445b-8376-03d9c8b088fd.png)

[2022-10-03 16:30] st3phan76 opened #2342 "Links in list aren't underlined when setting 'Underline content links' to true in Astra"
Hi,

### Describe the bug:
The feature to underline links via the Astra Customizer ( Customizing > Typography > Underline Content Links) is not supported by the Spectra Table of Contents and other lists (i. e. Spectra icon list)

### To reproduce:

### Expected behavior:
Settings in Astra to underline Links should be respected
i. e. CSS rule '.ast-single-post .entry-content .uagb-toc__wrap a { tex

[2022-10-04 10:18] st3phan76 opened #2343 "Blockquote: Border and alignment"
Hi,

### Describe the solution you'd like
I would like the enhancement of the blockquote to be able to turn on/off the vertical border. The functionality is already there (toggle button type: border | quotation) by clicking twice on border, but it has no effect.

In addition to this it would be nice, to align the whole quote (left | center | right) and swapping the border / quote.

Thanks in advca

[2022-10-04 12:54] supriyajjadhav commented on #2342
Hello @st3phan76,

Thank you for reporting this to us.

We were able to reproduce this issue at our end.

I have added a task for this issue at our end & we will surely fix this issue in our upcoming updates.

Till then your patience & co-operation are highly appreciated.

[2022-10-05 11:09] Naaaaiix opened #2345 "Uncontrolled scope for CSS"
Have installed multiple Gutenberg block plugins on a site. Had to uninstall Spectra as there are parts of CSS affecting other blocks, [here](https://github.com/brainstormforce/ultimate-addons-for-gutenberg/blob/557b83d19d2319b9ccd0193165cf49f62dd3572e/src/blocks/extensions/blocks-editor-spacing/styling.js#L11-L15)'s the root of it. Maybe the mix of `*` selectors and `!important` is not the best pr

[2022-10-06 04:18] supriyajjadhav commented on #2343
Hello @st3phan76,

Thanks for reaching out to us.

It's a good idea to add an optional field like alignment and swap the border/quote. I'll put forward your thought about this to our team, and if feasible, we will surely improve the scenario in future updates.

I hope you understand.

Let me know if you need anything else.

[2022-10-10 13:12] ayacheva opened #2360 "Loading plugin js even on pages where it's not used"
Hello, guys! Thanks for the nice plugin, I have an issue to report.
I want to use the plugin only on the post pages, but I see it loads the js and the css even on my index page.
Due to this, it got me an error for the table of contents on my index page:

table-of-contents.min.js?ver=2.0.13:1 Uncaught TypeError: Cannot read properties of null (reading 'querySelector')
    at Object._run (table-of-c

[2022-10-21 15:37] commeta opened #2394 "Bug Title ..."
### Describe the bug:
An error occurs in the inline css code: .uagb-ifb-title{margin-bottom: px}

### To reproduce:
see html code https://hozyindachi.ru/kursy-seo-optimizacii/

### Expected behavior:
.uagb-ifb-title{margin-bottom: 0px}

### WordPress version:
6.0.3

[2022-11-02 15:47] #697 closed

[2022-11-09 14:32] tambaqui opened #2434 "Bug Title ..."
### Describe the bug:
In the CTA block, the bottom margin of the Description does not respect the specificity for tablet and mobile.

### To reproduce:
Add a bottom margin for the Description field different for desktop, tablet and mobile.

### Expected behavior:
The margin is respected for each size

### Screenshots:
![Captura de pantalla 2022-11-09 152651](https://user-images.githubusercontent.c

[2022-11-11 06:25] supriyajjadhav commented on #2342
Hi @st3phan76,

Sorry for the delay in response!

To fix the underline content links in TOC block please add below filter in functions.php file. It will exclude TOC block from Astra Customizer Stylings.

`add_filter( 'astra_unset_builder_elements_underline', '__return_false' ); `

I hope it helps.

Regards,
Supriya

[2022-11-21 17:59] AldoS opened #2488 "uagb/info-box some attributes are not exposed with parse_blocks"
### Describe the bug:
I am adding the block `uagb/info-box` to my page, and I use parse_blocks to get blocks and their attributes
 `parse_blocks($post->post_content);`

### To reproduce:

1. Add info box block to a page
2. Use `parse_blocks($post->post_content);` to parse your blocks
3. In my case I am extending WP GraphQL, but you can just print the results from parse_blocks

### Expected behavio

[2022-11-28 15:28] sylletka opened #2506 "Icon list: href is not rendered in items with url and activated link"
### Describe the bug:
WP 6.1.1, Spectra 2.0.16; In Icon list, even if in each icon the switch "Link" is selected, and the "Url" field is filled with a correct url, the icon is not rendered as a hyperlink. After saving and re-editing the article, the "Link" switch is unselected, but the url appears correctly in the field if the switch is selected again

### To reproduce:
1. Create an article
2. Add